@page "/counter"
@using BlazorServerAppDemo.Pages.ContactComponents

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> <!-- On click call IncrementCount() method -->

<br />
<br />

<!-- Information is binded to the currentCount variable -->
<input @bind=currentCount/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
